<style>
th {
  vertical-align: middle;
  text-align: center;
  white-space:pre-line;
  word-break: break-all;
  
}

table {
    table-layout: fixed;
}

xmp {   
  white-space: pre-wrap;
  word-wrap: break-word;
}

td {
  vertical-align: middle;
  word-wrap:break-word;
  white-space:pre-line;
  border: 1px solid;
}
</style>

<table>
    <tbody>
        <tr>
            <td>{{HOSTNAME_IP}}</td>
            <td>{{HOSTNAME_OS}}</td>
            <td>{{HOSTNAME_LOCATION}}</td>
            <td>{{LOCATION_SITE}}</td>
            <td>{{TYPE_OF_DEVICE}}</td>
        </tr>
    </tbody>
</table>