-----------------------------------------------------------------------------------------------------------------------------------
{{DEVICE_HOSTNAME}}: {{MANAGEMENT_IP}} | Model: {{DEVICE_HARDWARE}} and Serial: {{DEVICE_SERIAL}} - with '{{COMMAND}}' output of:
-----------------------------------------------------------------------------------------------------------------------------------

{{SHOW_OR_CHANGE_OUTPUT}}


