<style>
th {
  vertical-align: middle;
  text-align: center;
  white-space:pre-line;
  word-break: break-all;
  
}

table {
    table-layout: fixed;
}

xmp {   
  white-space: pre-wrap;
  word-wrap: break-word;
}

td {
  vertical-align: middle;
  word-wrap:break-word;
  white-space:pre-line;
  border: 1px solid;
}
</style>

<table>
    <tbody>
        <tr>
            <td>{{DEVICE_HOSTNAME}}</td>
            <td>{{MANAGEMENT_IP}}</td>
            <td>{{DEVICE_HARDWARE}}</td>
            <td>{{REGION}}</td>
            <td>{{COUNTRY}}</td>
            <td>{{DEVICE_TYPE}}</td>
            <td style="color:#0000ff"; "word-wrap: break-word"><span style="font-weight:bold"><pre>{{SHOW_OR_CHANGE_OUTPUT}}</pre></span></td>
        </tr>
    </tbody>
</table>